# Database Configuration
MYSQL_ROOT_PASSWORD=changeme
MYSQL_PASSWORD=changeme

# OAuth Configuration
MINIERP_OAUTH_SECRET=your_oauth_secret_key
MINIERP_OAUTH_CREDENTIAL_KEY=your_oauth_credential_key

# Default Admin Credentials (Used in setup scripts)
DEFAULT_ADMIN_PASSWORD=admin
DEFAULT_ADMIN_EMAIL=admin@admin
DEFAULT_ADMIN_USERNAME=Admin

# Smoke Test Configuration
SMOKE_TEST_EMAIL=admin@admin
SMOKE_TEST_PASSWORD=admin
